Django==1.10.3
django-extensions
Werkzeug
gunicorn

MySQL-python


django-grappelli

djangorestframework
markdown
django-filter
django-rest-swagger

SwampDragon
django-sendfile

django-bower
django_compressor
django-require

celery

pytz

passlib
aniso8601
ftfy
requests
