Django==1.8.7
django-extensions
Werkzeug
gunicorn

django-grappelli

djangorestframework
markdown
django-filter
django-rest-swagger

SwampDragon

django-bower
django_compressor
django-require

celery
django-celery

pytz
